ESPO_URL=http://192.168.68.68:8080
ESPO_USER=admin
ESPO_PASS=your_password
PORT=3001
GOOGLE_CALENDAR_API_KEY=your_google_calendar_api_key
GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com
